/* TABLET */

@media (max-width: 992px) {
  #login {
    background-image: url(/assets/images/cactus-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login__contain {
    width: 50%;
    height: 80%;
    margin-left: 0px;
  }

  /* MOBILE */

  @media (max-width: 576px) {
    #login {
      background-image: url(/assets/images/cactus-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login__button button {
      font-weight: 550;
    }
  }
}
