@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/images/suculenta_fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#register {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.register__contain {
  width: 35vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 120px;
}

.register__contain img {
  min-width: 18vw;
  height: 40vh;
  margin: 10px;
}

.register__contain--datos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
}

.register__contain--datos input {
  background-color: #dee2e6;
  width: 168px;
  height: 35px;
  border-radius: 10px;
  padding: 12px;
  margin: 7px;
}

.register__contain--usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vw;
  height: 35vh;
}

.register__contain--usuario input {
  background-color: #dee2e6;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  padding: 12px;
  margin: 7px;
}

.register__button {
  width: 32vw;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.register__button button {
  min-width: 200px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #dee2e6;
}

.register__button button:active {
  background-color: rgb(167, 197, 178);
  transition: all 0.2s ease;
}

.register__button--enlace {
  color: inherit;
  text-decoration: none;
}
